<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/formulario.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght300;400;700&display=swap">
    <script src="https://kit.fontawesome.com/cd8fa35da4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo" alt="logo mercado libre"></a>
         <div class = 'busqueda'>
             <input type="search" name="busqueda" placeholder="Buscar productos, marcas">
             <input type="submit" class="icono_placeholder" value="">
         </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
             </h2>
        </div>
        <a href="#" class="burguer-menu">
         <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
 
            <ul class="right-navbar">
                <li><a href="/registro">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
         </nav>
    </header>
<form action="/" method="GET">
<label for="nombre">Nombre de usuario:</label>
<input type="text" name="nombre" id="nombre" required minlength="2">

<label for="pass">Contraseña:</label>
<input type="password" name="pass" id="pass" required minlength="8">
<div class="botones-formulario">
<button type="submit">Enviar</button>
</div>
</form>
    <footer>
        <section>
    
            <article>
                <i class="fas fa-credit-card iconos-footer"></i>
                <h4 class="footer-titulo">Pagá con tarjeta o en efectivo</h4>
                <p class="footer-parrafo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
    
            <article>
                <i class="fas fa-gift iconos-footer"></i>
                <h4 class="footer-titulo">Envío gratis desde $ 2.500</h4>
                <p class="footer-parrafo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
            </article>
    
            <article>
                <i class="fas fa-user-shield iconos-footer"></i>
                <h4 class="footer-titulo">Seguridad, de principio a fin</h4>
                <p class="footer-parrafo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>
   
        </section>

        <article class="footer-legales">

            <p class="footer-parrafo">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>

    </footer>
</body>
</html>